* {
  box-sizing: border-box;
}

/* Site */

.site-container {
  margin: 0 auto;
  width: 1100px;
}

/* Header */

header {
  display: flex;
  align-items: center;
}

.logo-section {
  flex-basis: 35%;
}

.header-logo {
  height: 100px;
}

nav {
  flex-basis: 65%;
}

nav ul {
  padding: 0;
  display: flex;
}

nav li {
  list-style-type: none;
  /* display: inline-block; */
}

nav a {
  text-decoration: none;
}