* {
  box-sizing: border-box;
}

/* Site */

.site-container {
  margin: 0 auto;
  width: 1800px;
}

/* Navigation */
nav ul {
  padding: 0;
  display: flex;
}

nav li {
  list-style-type: none;
  /* display: inline-block; */
}

nav a {
  text-decoration: none;
}