* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

p {
  font-size: 18px;
}

a:visited {
  color: inherit;
}

.full-width {
  width: 100%;
}
/* Site */

.background-green {
  background: #5dc560;
}

.site-container {
  margin: 0 auto;
  width: 85%;
}

.text-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Header */

header {
  display: flex;
  align-items: center;
  height: 180px;
}

.logo-section {
  flex-basis: 30%;
}

.header-logo {
  display: block;
  height: 70px;
  margin: 20px auto;
}

.site-title {
  display: block;
  text-align: center;
  font-size: 30px;
}

nav {
  flex-basis: 70%;
}

nav ul {
  padding: 0;
  display: flex;
}

nav li {
  list-style-type: none;
  padding-right: 20px;
}

nav a {
  text-decoration: none;
  color: white;
}
nav a:visited {
  color: white;
}

.hero-full-section {
  background-image: url(../images/hero-banner.jpg);
  background-repeat: no-repeat;
  height: 600px;
}

.hero-section {
  overflow: auto;
}

.hero-section .flex-column {
  height: 600px;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.non-center {
  align-items: left;
}

.hero-section h1 {
  margin-top: 150px;
  font-size: 45px;
  color: white;
}

.hero-section p {
  color: white;
}

.hero-button-container {
  margin-bottom: 100px;
}

.hero-section i {
  margin-right: 20px;
}


.telephone-button {
  color: white;
  padding: 20px 40px;
  background-color: #5dc560;
  border-radius: 20px;
  font-size: 30px;
  text-decoration: none;
}

.telephone-button:hover {
  background-color: white;
  color: #5dc560;
  border: solid 3px #5dc560;
}

.second-section-homepage {
  height: 400px;
  color: white;
}

.second-section-homepage h2{
  font-size: 40px;
}

.second-section-homepage div {
  display: flex;
}

.second-section-homepage p {
  margin: 0 20px;
  font-size: 24px;
}

.second-section-homepage a {
  margin: 20px;
  text-decoration: none;
  padding: 20px;
  border: solid 3px white;
  border-radius: 20px;
  color: white;
}

.standalone-button-section {
  height: 300px;
  display: flex;
  overflow: auto;
  align-items: center;
  justify-content: center;
}

.border-bottom-shadow {
  border-bottom: rgba(128, 128, 128, 0.11) solid 1px;
  -webkit-box-shadow: 0px 21px 30px 0px rgba(50, 50, 50, 0.21);
  -moz-box-shadow:    0px 21px 30px 0px rgba(50, 50, 50, 0.21);
  box-shadow:         0px 21px 30px 0px rgba(50, 50, 50, 0.21);
}

.form-container {
  margin-bottom: 40px;
}

.form-input-sections {
  display: flex;
  width: 700px;
  justify-content: space-between;
  margin-bottom: 10px;
}


.form-input-sections:nth-child(3) div:nth-child(1) {
  width: 70%;
}

.form-input-sections:nth-child(3) div {
  width: 15%;
}

.form-input-sections label,input {
  padding: 5px 5px 5px 0;
}

.form-input-sections input {
  width: 450px;
}

.form-input-sections:nth-child(4) input {
  height: 125px;
}

.submit-button-container {
  display: flex;
  justify-content: center;
}

.submit-button {
  padding: 10px 20px;
  border: none;
}

.submit-button:hover {
  background-color: rgba(192, 192, 192, 0.78);
}

/* Footer */
footer section {
  display: flex;
  justify-content: center;
}
.footer-left, .footer-middle, .footer-right {
  flex-basis: 33%;
}

.footer-middle {
  padding: 20px;
}

.copyright {
  display: block;
  text-align: center;
  padding: 20px;
}

